*{
  margin: 0;
  padding: 0;
}
 .login{
  height: 100vh;
  background-color: black;

  overflow-y: hidden;
}
.header{
  padding-top: 20px;

}
.footerd{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerd > a{
  text-decoration: none;
  background-color: white ;
 background-color: #1db954;
 color: white;
 padding: 10px 15px;
 border-radius: 25px;
 align-items: center;
}


@media screen and (max-width: 1024px){
  .footer{
padding-top: 50vh;
  }
}